# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*.*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Man pages
[*.1]
insert_final_newline = false

[{bootiso,*.bash,*.fish,*.zsh}]

indent_style = space
indent_size = 2

[{bootiso,*.bash, *.sh}]

shell_variant = bash
binary_next_line   = false
switch_case_indent = false
space_redirects    = true
keep_padding       = true
function_next_line = false
binary_next_line   = false
